<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="feed">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="experiences">
        <ion-icon name="flash-outline"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="new">
        <!-- <ion-icon name="add-outline"></ion-icon> -->
        <ion-icon src="../assets/phesteelogoHdrGreyed.svg"></ion-icon> 
      </ion-tab-button>
      <ion-tab-button tab="board">
        <ion-icon name="file-tray-outline"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="user">
        <ion-avatar>
          <img class="img-user-footer" src="./../assets/media/woman.jpg">
        </ion-avatar>
        <!-- <ion-icon name="person-outline"></ion-icon> -->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
