<ion-header translucent>
  <ion-toolbar>
    <ion-button (click)="onCloseModal()" fill="clear" slot="start" >Cancelar</ion-button>
    <ion-title class="ion-text-center">
        <img class="img-user-footer ph-margin-x-auto" src="./../assets/media/woman.jpg">
    </ion-title>
    <ion-button type="submit" (click)="onCreatePost()" [disabled]="postForm.invalid" fill="clear" slot="end" >Publicar</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col>

        <h4 class="ion-text-center ion-margin-top"><b>¡Hola Laura!</b></h4>

        <form ngNativeValidate [formGroup]="postForm" (ngSubmit)="onCreatePost()">

          <ion-item lines="none" class="d-flex-row-start-centered ion-margin-top">
            <ion-label position="floating">¿Qué necesitas?</ion-label>
            <ion-textarea (keyup)="onCharacterCount(postStringControl.value)" required formControlName="post" id="post" name="post" type="text" [maxlength]="postMaxLngth" rows="4" ></ion-textarea>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-icon color="medium" name="pencil" slot="start" size="small"></ion-icon>
              <span [ngClass]="{'text-danger': characterleft <= 20, 'text-medium': characterleft > 20}"> {{characterleft}}</span> 
            </ion-label>
          </ion-item>

          <ion-slides pager="true">

            <ion-slide *ngFor="let photo of cameraService.picUrl; index as i">
              <div class="post-photo-carroussel">
                <ion-icon (click)="removePhotoCarrsl(i)" class="remove-photo-btn" name="close-circle"></ion-icon>
                <ion-img class="img-carroussel" [src]="photo.webviewPath"></ion-img>
              </div>
            </ion-slide>
  
          </ion-slides>

          <ion-item (click)="onTakePhoto()"color="light">
            <ion-icon name="camera-outline" slot="start"></ion-icon>
            <ion-label>Agregar foto</ion-label>
          </ion-item>
          <ion-item *ngIf="useFilePicker" (click)="onAddPhotoFromPc()"color="light">
            <ion-icon name="image-outline" slot="start"></ion-icon>
            <ion-label>Abrir galería</ion-label>
          </ion-item>

          <input *ngIf="useFilePicker" accept="image/jpeg" type="file" #filePicker (change)="onImgChosen($event)" >

          
          <ion-item class="ion-margin-top">
            <ion-label>Post incógnito</ion-label>
            <ion-toggle formControlName="incognito" id="incognito" name="incognito"  checked="true" color="primary"></ion-toggle>
          </ion-item>    
          <ion-item lines="none" class="ion-margin-top ion-margin-bottom" *ngIf="isIncognitoFlag === false">
            <ion-note color="danger"> 
                Recuerda que si deshabilitas 'Post incógnito', los usuarios cerca de tí podrán ver tu foto de perfil y tu nombre en ésta publicación.
            </ion-note>
          </ion-item>
          <!-- <ion-item>
            <ion-label>Profesionales</ion-label>
            <ion-toggle formControlName="isProf" id="isProf" name="isProf" checked="true" color="primary"></ion-toggle>
          </ion-item>          <ion-item>
            <ion-label>Comunidad</ion-label>
            <ion-toggle formControlName="isCommunity" id="isCommunity" name="isCommunity" color="primary"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-text class="ion-margin-top ion-margin-bottom ion-text-center" color="medium">
                <small>
                  Si seleccionas "comunidad", los usuarios cercanos podrán ver tu publicación y ofrecerte algo. 
                  Nadie podrá ver tu perfil en modo incógnito hasta que inicies una experiencia.
                </small>
            </ion-text>
          </ion-item> -->



        </form>

      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>