<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" color="primary">
        <ion-icon color="dark" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding hdr-margin-right-back-btn">
      <div class="phestee-icon-hdr"></div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">
        <h3 class="ion-text-center ph-margin-top-3"><b>Regístrate</b></h3>
        <form [formGroup]="signinForm" (ngSubmit)="onUserSignin()" class="ion-margin-top">
          <ion-list>
            <ion-item [ngClass]="{'border-left-active': emailControl.dirty && emailControl.valid, 'border-left-danger': !emailControl.valid && emailControl.touched}">
              <ion-label position="floating">Ingresa un email</ion-label>
              <ion-input formControlName="email" id="email" name="email" required type="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailControl.valid && emailControl.touched" class="ion-no-border">
              <ion-note color="danger">Intenta con un correo válido.</ion-note>
            </ion-item>
            <ion-item [ngClass]="{'border-left-active': userNameControl.dirty && userNameControl.valid, 'border-left-danger': !userNameControl.valid && userNameControl.touched}">
              <ion-label position="floating">Crea un nombre de usuario</ion-label>
              <ion-input formControlName="userName" id="userName" name="userName" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="userNameControl.value" class="ion-no-border border-left-active">
              <ion-note color="primary">@{{userNameControl.value}}</ion-note>
            </ion-item>
            <ion-item [ngClass]="{'border-left-active': pwdControl.dirty && pwdControl.valid, 'border-left-danger': !pwdControl.valid && pwdControl.touched}">
              <ion-label position="floating">Crea una contraseña</ion-label>
              <ion-input formControlName="pwd" id="pwd" name="pwd" required type="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="!pwdControl.valid && pwdControl.touched" class="ion-no-border">
              <ion-note color="danger">Mínimo 8 caracteres </ion-note>
            </ion-item>
            <ion-item [ngClass]="{'border-left-active': pwdConfControl.dirty && pwdConfControl.valid, 'border-left-danger': !pwdConfControl.valid && pwdConfControl.touched}">
              <ion-label position="floating">Repite la contraseña</ion-label>
              <ion-input formControlName="pwdConf" id="pwdConf" name="pwdConf" required type="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="!pwdConfControl.valid && pwdConfControl.touched" class="ion-no-border">
              <ion-note color="danger">Las contraseñas no coinciden </ion-note>
            </ion-item>
            <ion-item lines="none" class="bg-transparent no-border ion-margin-top">
              <ion-label>Acepto los términos y condiciones</ion-label>
              <ion-checkbox formControlName="tyc" id="tyc" name="tyc" required color="primary" slot="start"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="!tycControl.valid && tycControl.touched" class="ion-no-border">
              <ion-note color="danger">Debes aceptar los TyC </ion-note>
            </ion-item>
          </ion-list>
          <ion-button [disabled]="signinForm.invalid"  expand="block" shape="round" type="submit" color="primary" class="ph-margin-top-3"><ion-icon name="arrow-forward-outline" slot="end"></ion-icon><b>Regístrate</b></ion-button>
          <ion-button expand="block" shape="round" type="button" color="dark" class="ion-margin-top"><ion-icon name="logo-facebook" slot="start"></ion-icon><b>Regístrate con facebook</b></ion-button>
          <ion-button expand="block" shape="round" type="button" color="dark" class="ion-margin-top"><ion-icon name="logo-google" slot="start"></ion-icon><b>Regístrate con google</b></ion-button>
          <ion-button expand="block" routerLink="/login" type="button" color="primary" fill="clear" class="ion-margin-top">Ya tengo una cuenta</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

