<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/pages/tabs/experiences" color="primary">
        <ion-icon color="dark" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>      
    
    <ion-title>
      <div class="d-flex-row-center-centered">
        <img class="img-avatar-xs" src="../../assets/media/laura.jpg" alt="">
        <ion-label class="ion-margin-start">Inés Cervantes</ion-label>
      </div>
    </ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button (click)="navigateInfo('123')" color="primary">
        <ion-icon color="dark" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

        <ion-card  class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
          <ion-item lines="full">
            <ion-card-subtitle>Hace 6 minutos</ion-card-subtitle>
            <ion-chip slot="end" color="primary"><b> $356.30</b></ion-chip>
          </ion-item>
          <ion-item lines="none" class="ion-margin-top">
            <ion-thumbnail slot="start">
              <img src="../../assets/media/hero/apartment.jpg">
            </ion-thumbnail>
            <ion-text>
              <b>Quiero pintar mi depa</b>
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <div class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon name="flash-outline" slot="start"></ion-icon>  3</ion-button>
                <ion-button shape="round" color="light"><ion-icon name="hand-left-outline" slot="start" class="rotated-15"></ion-icon>  5</ion-button>
                <ion-button shape="round" color="light"><ion-icon name="people-outline" slot="start"></ion-icon>  0</ion-button>
                <ion-button shape="round" color="light"><ion-icon name="person-add-outline"></ion-icon></ion-button>
              </div>
            </ion-label>
          </ion-item>
          
        </ion-card>

        <!-- <div class="ion-margin-top ion-padding">
          <h6>8 Reacciones</h6>
        </div> -->
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col class="padding-grid-3col" size="4">
                <img (click)="onOpenExperience('123')" class="img-exp-grid-20" src="../../assets/media/painter8.jpg" alt="">
              </ion-col>
              <ion-col class="padding-grid-3col" size="4">
                <img class="img-exp-grid-20" src="../../assets/media/painter2.jpg" alt="">
              </ion-col>
              <ion-col class="padding-grid-3col" size="4">
                <img class="img-exp-grid-20" src="../../assets/media/painter5.jpg" alt="">
              </ion-col>
              <ion-col class="padding-grid-3col" size="4">
                <img class="img-exp-grid-20" src="../../assets/media/painter12.jpg" alt="">
              </ion-col>
              <ion-col class="padding-grid-3col"size="4">
                <img class="img-exp-grid-20" src="../../assets/media/painter7.jpg" alt="">
              </ion-col>
              <ion-col class="padding-grid-3col" size="4">
                <img class="img-exp-grid-20" src="../../assets/media/painter11.jpg" alt="">
              </ion-col>
              <ion-col class="padding-grid-3col" size="4">
                <img class="img-exp-grid-20" src="../../assets/media/painter10.jpg" alt="">
              </ion-col>
              <ion-col class="padding-grid-3col" size="4">
                <img class="img-exp-grid-20" src="../../assets/media/painter6.jpg" alt="">
              </ion-col>

            </ion-row>

        </ion-grid>

        <!-- <div class="ion-margin-top ion-padding">
          <h3><b> Miembros</b> <small class="ion-margin-start"> <ion-icon name="people" color="dark" slot="start"></ion-icon> (2)</small></h3>
        </div>

        <ion-list class="ion-margin-top">
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/media/bar.jpg">
            </ion-avatar>
            <ion-label>
              <h3><b>alandiaza</b></h3>
              <h3>Alan Díaz</h3>
            </ion-label>
            <ion-chip>
              <ion-label color="dark">Eliminar</ion-label>
            </ion-chip>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/media/friendship.jpg">
            </ion-avatar>
            <ion-label>
              <h3><b>juancarlosd</b></h3>
              <h3>Juan Carlos Díaz</h3>
            </ion-label>
            <ion-chip>
              <ion-label color="dark">Eliminar</ion-label>
            </ion-chip>
          </ion-item>
          <ion-button expand="block" shape="round" type="button" fill="clear" color="primary" class="ion-margin-top ion-margin-bottom"><ion-icon name="add" slot="start"></ion-icon>Agregar miembro</ion-button>

        </ion-list> -->
        

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
