<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Tablero</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="businessSettingForm.invalid" (click)="onBusUpdate('123')">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

        <ion-card class="simple-card">
          <ion-card-header class="d-flex-col-center-centered"> 
              <img class="ph-avatar-xlg" src="./../assets/media/cake2.jpg">
              <ion-button (click)="presentPhotoOptions()" type="button" class="ion-margin-top" color="primary" size="small" fill="clear">
                Cambiar foto de perfil
              </ion-button>
          </ion-card-header>
        </ion-card>

        <ion-list class="ion-padding-bottom">

          <form ngNativeValidate [formGroup]="businessSettingForm" (ngSubmit)="onBusUpdate('123')">

            <ion-item-divider>
              <ion-label>General</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-label position="fixed"><small>Nombre</small></ion-label>
              <ion-input placeholder="Nombre del negocio" formControlName="busName" name="busName" type="text" class="ion-text-end"></ion-input>
            </ion-item>
            <ion-item *ngIf="busNameForm.invalid && busNameForm.touched">
              <ion-note color="danger"><small>El nombre del negocio es obligatorio</small></ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"><small>Perfil</small></ion-label>
              <ion-input placeholder="tunegocio" formControlName="busProfile" name="busProfile" type="text" class="ion-text-end"></ion-input>
            </ion-item>
            <ion-item *ngIf="busProfileForm.invalid && busProfileForm.touched">
              <ion-note color="danger"><small>El perfil del negocio es obligatorio</small></ion-note>
            </ion-item>
            <!-- <ion-item >
              <ion-note color="danger"><small>Ya existe un tablero con este nombre de perfil</ion-note>
              </ion-item> -->
              
            <ion-item>
              <ion-label><small>Tipo</small></ion-label>
              <ion-select placeholder="Selecciona una opción" formControlName="busType" name="busType" type="text">
                <ion-select-option *ngFor="let tipo of busTypes; let i of index" [value]="tipo">{{ tipo }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="busTypeForm.invalid && busTypeForm.touched">
              <ion-note color="danger"><small>El tipo de negocio es obligatorio</small></ion-note>
            </ion-item>
            <ion-item>
              <ion-label><small>Modalidad</small></ion-label>
              <ion-select placeholder="Selecciona una opción" formControlName="rtmMode" name="rtmMode" type="text">
                <ion-select-option *ngFor="let rtm of rtmModes; let i of index" [value]="rtm">{{ rtm }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="rtmModeForm.invalid && rtmModeForm.touched">
              <ion-note color="danger"><small>La modalidad del negocio es obligatoria</small></ion-note>
            </ion-item>
            
            <ion-item-divider>
              <ion-label>Contacto</ion-label>
            </ion-item-divider>


            <ion-item>
              <ion-label position="fixed"><small>Teléfono</small></ion-label>
              <ion-input placeholder="ej. 3331313331" formControlName="landaline" name="landaline" type="text" class="ion-text-end" minlength="10" maxlength="10" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"><small>Celular</small></ion-label>
              <ion-input placeholder="ej. 3332323332" formControlName="cellphone" name="cellphone" type="text" class="ion-text-end" minlength="10" maxlength="10" ></ion-input>
            </ion-item>
            <ion-item *ngIf="(landalineForm.invalid && landalineForm.touched) || (cellphoneForm.invalid && cellphoneForm.touched)">
              <ion-note color="danger"><small>Algún número de contacto no es válido</small></ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"><small>Email</small></ion-label>
              <ion-input placeholder="ej tunegocio@mail.com" formControlName="email" name="email" type="email" class="ion-text-end"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailForm.valid && emailForm.touched">
              <ion-note color="danger"><small>Ingresa un correo válido</small></ion-note>
            </ion-item>

            <ion-item-divider>
              <ion-label>Dirección</ion-label>
            </ion-item-divider>

            <app-location-picker (locationPick)="onLocationPicked($event)"></app-location-picker>

              <div *ngIf="isMapLoaded" formGroupName="busLocation" class="ion-no-margin ion-no-padding">
                <div formGroupName="addressComponents" class="ion-no-margin ion-no-padding">
                  <ion-item>
                    <ion-label position="fixed"><small>Calle</small></ion-label>
                    <ion-input placeholder="ej Calle 15" formControlName="streetName" name="streetName" type="text" class="ion-text-end"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="fixed"><small>No exterior</small></ion-label>
                    <ion-input placeholder="901" formControlName="streetNum" name="streetNum" type="text" class="ion-text-end"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="fixed"><small>No interior</small></ion-label>
                    <ion-input placeholder="ej. 09" formControlName="additional" name="additional" type="text" class="ion-text-end" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="fixed"><small>CP</small></ion-label>
                    <ion-input placeholder="45450" formControlName="zipCode" name="zipCode" type="text" class="ion-text-end" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="fixed"><small>Colonia</small></ion-label>
                    <ion-input placeholder="Juan Navarrete" formControlName="neighborhood" name="neighborhood" type="text" class="ion-text-end" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><small>Ciudad</small></ion-label>
                    <ion-input placeholder="Juan Navarrete" formControlName="city" name="city" type="text" class="ion-text-end" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="fixed"><small>Estado</small></ion-label>
                    <ion-input formControlName="state" name="state" type="text" class="ion-text-end"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="fixed"><small>País</small></ion-label>
                    <ion-input formControlName="country" name="country" type="text" class="ion-text-end"></ion-input>
                  </ion-item>
                </div>


              </div>

            <ion-item-divider>
              <ion-label>Social</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-label position="fixed"><small>Instagram</small></ion-label>
              <ion-input formControlName="instagram" name="instagram" type="text" class="ion-text-end" minlength="10" maxlength="10" placeholder="instagram/tuPerfil"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"><small>Facebook</small></ion-label>
              <ion-input formControlName="facebook" name="facebook" type="text" class="ion-text-end" minlength="10" maxlength="10" placeholder="facebook/tuPerfil"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"><small>LinkedIn</small></ion-label>
              <ion-input formControlName="linkedin" name="linkedin" type="text" class="ion-text-end" placeholder="linkedin/tuPerfil"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"><small>Website</small></ion-label>
              <ion-input formControlName="website" name="website" type="text" class="ion-text-end" placeholder="www.tupágina.com"></ion-input>
            </ion-item>            
            
            
            <ion-item-divider>
              <ion-label>Certificación</ion-label>
            </ion-item-divider>
            
            <ion-item-divider lines="none">
              <ion-text>
                <small>
                  
                  Todos queremos estar seguros en Phestee, y para lograr éste objetivo promovemos que 
                  los tableros cuenten con el badge de seguridad 
                  <span> <ion-icon color="primary" name="shield-checkmark"></ion-icon> </span>
                  , por lo que te recomendamos agregar una foto del documento oficial de acuerdo al tipo de tablero:
                                  
                </small>
              </ion-text>
            </ion-item-divider>
            <ion-item-divider lines="none" class="ion-text-left">  
              <ion-text>
                <small>
                  - Oficio o Comunidad: IFE o Pasaporte
                </small>
              </ion-text>
            </ion-item-divider>
            <ion-item-divider lines="none" class="ion-text-left">
              <ion-text>
                <small>
                  - Negocio: Permiso Gubernamental
                </small>
              </ion-text>
            </ion-item-divider>
            <ion-item-divider lines="none" class="ion-text-left">
              <ion-text>
                <small>
                  - Profesión: Cédula Profesional o Carta de pasante
                </small>
              </ion-text>
            </ion-item-divider>
            <ion-item-divider lines="none" class="ion-text-left ion-padding-bottom">
              <ion-text>
                <small>
                  <b> La foto de tu documento no se mostrará en tu perfil ni durante tus experiencias.</b>
                </small>
              </ion-text>
            </ion-item-divider>
            
            <div formGroupName="certification" class="ion-no-margin ion-no-padding">
              
              <ion-item>
                <ion-label><small>Documento</small></ion-label>
                <ion-select placeholder="Selecciona una opción" formControlName="docType" name="docType" type="text">
                  <ion-select-option *ngFor="let cerType of certificationTypes; let i of index" [value]="cerType">{{ cerType }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="fixed"><small>ID</small></ion-label>
                <ion-input placeholder="13123465497778" formControlName="docID" name="docID" type="email" class="ion-text-end"></ion-input>
              </ion-item>
              
              <div class="d-flex-row-center-centered ion-margin-top ion-margin-bottom">
                <ion-button type="button" class="ion-margin-top" expand="block" shape="round" fill="outline" color="medium">
                  Agregar foto del documento
                </ion-button>
              </div>
              
            </div>

            <ion-item-divider></ion-item-divider>
            
            <div class="d-flex-row-center-centered ion-margin-top ion-margin-bottom">
              <ion-button [disabled]="businessSettingForm.invalid" type="submit" class="ion-margin-top" expand="block" shape="round" color="primary">
                Guardar cambios
              </ion-button>
            </div>

          </form>

          <ion-item-divider class="ion-padding-top">
            <ion-label color="danger">Zona de peligro</ion-label>
          </ion-item-divider>

          <ion-button expand="full" color="danger">
            <ion-icon slot="start" name="close-circle-outline"></ion-icon>
            Eliminar tablero
          </ion-button>
          <ion-item-divider lines="none">
            <ion-text class="ion-margin-top ion-margin-bottom ion-text-center">
              <small>
                
                El tablero sólo se podrá eliminar si no tienes experiencias activas.
                                
              </small>
            </ion-text>
          </ion-item-divider>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>