<ion-header translucent>
  <ion-toolbar>
    <ion-title class="font-brand-normal ion-text-center">phestee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

            <ion-card>
              <img class="img-feed-post" src="../../assets/media/stress.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 10 minutos | A 2km</ion-card-subtitle>
                <ion-card-title>Necesito un corte de cabello</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="medium" fill="clear"><ion-icon name="people-outline" slot="start"></ion-icon>  0</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <img class="img-feed-post" src="../../assets/media/friendship.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 4 horas | A 12km</ion-card-subtitle>
                <ion-card-title>Donde encuentro un perro australiano, quiero adoptar</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="medium" fill="clear"><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <img class="img-feed-post" src="../../assets/media/laura.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 2 días | A menos de 1km</ion-card-subtitle>
                <ion-card-title>Alguien tiene boletos para el corona de gdl?</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="medium" fill="clear"><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <img class="img-feed-post" src="../../assets/media/laura2.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 10 minutos | A 2km</ion-card-subtitle>
                <ion-card-title>Maria cumple años mañana</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="medium" fill="clear"><ion-icon name="people-outline" slot="start"></ion-icon>  0</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <img class="img-feed-post" src="../../assets/media/couple.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 4 horas | A 12km</ion-card-subtitle>
                <ion-card-title>Nos casamos en un año</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="medium" fill="clear"><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <img class="img-feed-post" src="../../assets/media/woman2.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 2 días | A menos de 1km</ion-card-subtitle>
                <ion-card-title>Me corrieron de mi trabajo, necesito un abogado </ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="medium" fill="clear"><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
              </ion-card-content>
            </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
