<ion-header translucent>
  <ion-toolbar>
    <ion-title class="font-brand-normal ion-text-center">phestee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/apartment.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 5 minutos | A 2km</ion-card-subtitle>
                <ion-card-title>Quiero pintar mi depa</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  6</ion-button>
                <ion-button shape="round" color="dark" fill="clear"><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/sonBirthday.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 10 minutos | A 2km</ion-card-subtitle>
                <ion-card-title>El rey de la casa cumple años el sábado</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="dark" fill="clear"><ion-icon name="people" slot="start"></ion-icon>  3</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/haircutneed.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 10 minutos | A 2km</ion-card-subtitle>
                <ion-card-title>¡Quiero mi corte de cabello así!</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  3</ion-button>
                <ion-button shape="round" color="dark" fill="clear" disabled><ion-icon name="people-outline" slot="start"></ion-icon>  0</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/piano.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 8 minutos | A 3km</ion-card-subtitle>
                <ion-card-title>Mi piano está desafinado...</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  4</ion-button>
                <ion-button shape="round" color="dark" fill="clear" disabled><ion-icon name="people-outline" slot="start"></ion-icon>  0</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/dogo.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 4 horas | A 8km</ion-card-subtitle>
                <ion-card-title>¿Alguien que cuide a mi perrito lolo por una semana? </ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  3</ion-button>
                <ion-button shape="round" color="dark" fill="clear" disabled><ion-icon name="people" slot="start"></ion-icon>  1</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/laura.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 5 minutos | A menos de 3km</ion-card-subtitle>
                <ion-card-title>Estamos de visita en la ciudad ¡Sorpréndenos Guadalajara!</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  25</ion-button>
                <ion-button shape="round" color="dark" fill="clear" disabled><ion-icon name="people" slot="start"></ion-icon>  4</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/laura2.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 14 minutos | A 1km</ion-card-subtitle>
                <ion-card-title>Maria cumple años mañana</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="dark" fill="clear" disabled><ion-icon name="people-outline" slot="start"></ion-icon>  0</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/couple.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 4 horas | A 11km</ion-card-subtitle>
                <ion-card-title>¡Nos casamos el próximo año! 💍</ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  23</ion-button>
                <ion-button shape="round" color="dark" fill="clear" disabled><ion-icon name="people" slot="start"></ion-icon>  8</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
              <img class="img-feed-post" src="../../assets/media/woman2.jpg"/>
              <ion-card-header>
                <ion-card-subtitle>Hace 2 días | A menos de 1km</ion-card-subtitle>
                <ion-card-title>Me corrieron de mi trabajo, necesito un abogado </ion-card-title>
              </ion-card-header>
              <ion-card-content class="d-flex-row-between-centered">
                <ion-button shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
                <ion-button shape="round" color="dark" fill="clear" disabled><ion-icon name="people" slot="start"></ion-icon>  3</ion-button>
              </ion-card-content>
            </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
