<ion-header translucent>
  <ion-toolbar>
    <ion-title class="font-brand-normal ion-text-center">phestee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="manualFeedRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="300">
    <ion-refresher-content
      pullingIcon="lines"
      refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">


        <ion-list class="bg-transparent">

          <ion-card class="simple-card">
            <ion-card-header>
              <ion-card-title color="medium">
                <h6>
                  👋 ¡Hola! Nos da mucho gusto que estés aquí. En ésta sección podrás ver lo que la gente está pidiendo cerca de ti... 
                  si puedes ayudar con tu negocio, servicio o bien ofrecer tu ayuda de forma gratuita, por favor siéntete libre de levantar la mano.
                </h6>
              </ion-card-title>
            </ion-card-header>
          </ion-card>

          <ion-card *ngFor="let post of posts">

              <img *ngIf="post.postImages.length === 1" class="img-feed-post" [src]="urlBind + post.postImages[0]"/>
              
              <ion-slides *ngIf="post.postImages.length > 1" pager="true">
                <ion-slide *ngFor="let img of post.postImages">
                  <div class="post-photo-carroussel">
                    <!-- <ion-icon class="remove-photo-btn" name="close-circle"></ion-icon>-->
                    <ion-img class="img-carroussel" [src]="urlBind + img"></ion-img>
                  </div>
                </ion-slide>
              </ion-slides>

              <ion-card-header [ngClass] ="{'ion-no-padding ion-padding-end ion-padding-bottom ion-padding-start' : post.postImages.length > 1}">
              <ion-card-subtitle>Hace 5 minutos | A 2km</ion-card-subtitle>
              <ion-card-title><h5><b>{{ post.post }}</b></h5></ion-card-title>
            </ion-card-header>
            <ion-card-content class="d-flex-row-between-centered">
              <ion-button size="small" (click)="makeOffer(post._id)" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon> {{ post.hands.length }}</ion-button>
              <ion-button size="small" shape="round" color="dark" fill="clear" ><ion-icon name="people-outline" slot="start"></ion-icon> {{ post.providers.length }}</ion-button>
            </ion-card-content>
          </ion-card>

<!--           
          <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
            <ion-slides pager="true">
  
              <ion-slide>
                <div class="post-photo-carroussel">
                  <!-- <ion-icon class="remove-photo-btn" name="close-circle"></ion-icon> 
                  <ion-img class="img-carroussel" src="../../assets/media/cake2.jpg"></ion-img>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="post-photo-carroussel">
                  <!-- <ion-icon class="remove-photo-btn" name="close-circle"></ion-icon> 
                  <ion-img class="img-carroussel" src="../../assets/media/laura.jpg"></ion-img>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="post-photo-carroussel">
                  <!-- <ion-icon class="remove-photo-btn" name="close-circle"></ion-icon> 
                  <ion-img class="img-carroussel" src="../../assets/media/party.jpg"></ion-img>
                </div>
              </ion-slide>
    
            </ion-slides>
            <ion-card-header class="ion-no-padding ion-padding-end ion-padding-bottom ion-padding-start">
              <ion-card-subtitle>Hace 10 minutos | A 2km</ion-card-subtitle>
              <ion-card-title>Necesito varias cosas, ir al cine, ir a comer, lavar la ropa, comprar un sueter negro, también mi familia tiene una fiesta la siguiente semana y tengo que llevar los refrecos y la carne y también las chelas...</ion-card-title>
            </ion-card-header>
            <ion-card-content class="d-flex-row-between-centered">
              <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
              <ion-button shape="round" color="dark" fill="clear" ><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
            <img class="img-feed-post" src="../../assets/media/dogo.jpg"/>
            <ion-card-header>
              <ion-card-subtitle>Hace 5 minutos | A 2km</ion-card-subtitle>
              <ion-card-title>Alguien puede cuidar a mi perro el siguiente fin de semana?</ion-card-title>
            </ion-card-header>
            <ion-card-content class="d-flex-row-between-centered">
              <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  6</ion-button>
              <ion-button shape="round" color="dark" fill="clear" ><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom border-radius-0">
            <ion-slides pager="true">
  
              <ion-slide>
                <div class="post-photo-carroussel">
                  <!-- <ion-icon class="remove-photo-btn" name="close-circle"></ion-icon>
                  <ion-img class="img-carroussel" src="../../assets/media/friendship.jpg"></ion-img>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="post-photo-carroussel">
                  <!-- <ion-icon class="remove-photo-btn" name="close-circle"></ion-icon> 
                  <ion-img class="img-carroussel" src="../../assets/media/guyAvatar.jpg"></ion-img>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="post-photo-carroussel">
                  <!-- <ion-icon class="remove-photo-btn" name="close-circle"></ion-icon> 
                  <ion-img class="img-carroussel" src="../../assets/media/oldwoman.jpg"></ion-img>
                </div>
              </ion-slide>
    
            </ion-slides>
            <ion-card-header class="ion-no-padding ion-padding-end ion-padding-bottom ion-padding-start">
              <ion-card-subtitle>Hace 10 minutos | A 2km</ion-card-subtitle>
              <ion-card-title>Necesito varias cosas, ir al cine, ir a comer, lavar la ropa, comprar un sueter negro, también mi familia tiene una fiesta la siguiente semana y tengo que llevar los refrecos y la carne y también las chelas...</ion-card-title>
            </ion-card-header>
            <ion-card-content class="d-flex-row-between-centered">
              <ion-button (click)="makeOffer('123')" shape="round" color="light"><ion-icon class="rotated-15" name="hand-left-outline" slot="start"></ion-icon>  15</ion-button>
              <ion-button shape="round" color="dark" fill="clear" ><ion-icon name="people-outline" slot="start"></ion-icon>  3</ion-button>
            </ion-card-content>
          </ion-card> -->
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="dots">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
