<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="dark" menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes en curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

        <!-- <ion-label color="dark" class="ion-margin-top ion-padding">
          <small>Aquí se muestra información del mes actual de tu cuenta personal y tus tableros. Si quieres ver el histórico, ve al Menu Archivo ubicado en la parte superior derecha.</small>
        </ion-label> -->

        <div class="ion-margin-top ion-padding-start ion-padding-end d-flex-row-between-centered">
          <h5><b>Personal</b></h5>
          <ion-text color="primary"><h5><b>$5,283.50</b></h5></ion-text>
        </div>

        <ion-card class="d-flex-col-start-centered">

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom ion-margin-top">
            <ion-avatar>
              <img src="./../assets/media/woman.jpg">
            </ion-avatar>
            <ion-text class="ion-margin-start" color="dark">
              <h2><b>@lauraG21</b></h2>
            </ion-text>
            <ion-card-title class="ion-text-center ph-margin-right-0">
              <h2><ion-icon color="warning" name="star" slot="start"></ion-icon> 4,95</h2>
            </ion-card-title>
          </ion-card-content>

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
            <ion-card-title class="ion-text-center">
              <h2><b>25</b> Experiencias</h2>
            </ion-card-title>
            <ion-card-title class="ion-text-center">
              <h2>Gasto<b> $5,1K</b></h2>
            </ion-card-title>
          </ion-card-content>

        </ion-card>

        <div class="ion-margin-top ion-padding-start ion-padding-end d-flex-row-between-centered">
          <h5><b>Tableros</b></h5> 
          <ion-text color="primary"><h5><b>$10,122.35</b></h5></ion-text>
        </div>

        <ion-card class="d-flex-col-start-centered">

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom ion-margin-top">
            <ion-avatar>
              <img src="./../assets/media/cake.jpg">
            </ion-avatar>
            <ion-text class="ion-margin-start" color="dark">
              <h2><b>@pastelesMX</b></h2>
            </ion-text>
            <ion-card-title class="ion-text-center ph-margin-right-0">
              <h2><ion-icon color="warning" name="star" slot="start"></ion-icon> 4,95</h2>
            </ion-card-title>
          </ion-card-content>

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
            <ion-card-title class="ion-text-center">
              <h2><b>25</b> Interacciones</h2>
            </ion-card-title>
            <ion-card-title class="ion-text-center">
              <h2>Ingreso <b>$5,1K</b></h2>
            </ion-card-title>
          </ion-card-content>

        </ion-card>

        <ion-card class="d-flex-col-start-centered">

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom ion-margin-top">
            <ion-avatar>
              <img src="./../assets/media/laura.jpg">
            </ion-avatar>
            <ion-text class="ion-margin-start" color="dark">
              <h2><b>@lavadoAutos</b></h2>
            </ion-text>
            <ion-card-title class="ion-text-center ph-margin-right-0">
              <h2><ion-icon color="warning" name="star" slot="start"></ion-icon> 4,75</h2>
            </ion-card-title>
          </ion-card-content>

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
            <ion-card-title class="ion-text-center">
              <h2><b>22</b> Interacciones</h2>
            </ion-card-title>
            <ion-card-title class="ion-text-center">
              <h2>Ingreso <b>$1,8K</b></h2>
            </ion-card-title>
          </ion-card-content>

        </ion-card>

        <ion-card class="d-flex-col-start-centered">

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom ion-margin-top">
            <ion-avatar>
              <img src="./../assets/media/laura2.jpg">
            </ion-avatar>
            <ion-text class="ion-margin-start" color="dark">
              <h2><b>@legalCos</b></h2>
            </ion-text>
            <ion-card-title class="ion-text-center ph-margin-right-0">
              <h2><ion-icon color="warning" name="star" slot="start"></ion-icon> 4,87</h2>
            </ion-card-title>
          </ion-card-content>

          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
            <ion-card-title class="ion-text-center">
              <h2><b>15</b> Interacciones</h2>
            </ion-card-title>
            <ion-card-title class="ion-text-center">
              <h2>Ingreso <b> $3,1K</b></h2>
            </ion-card-title>
          </ion-card-content>

        </ion-card>

        <ion-button expand="block" shape="round" type="button" fill="clear" color="primary" class="ion-margin-top ion-margin-bottom"><ion-icon name="add" slot="start"></ion-icon>Agregar tablero</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
