
<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-segment (ionChange)="experienceStatusToggle($event)" value="wip">
        <!-- (ionChange)="onFilterUpdate($event)" -->
        <ion-segment-button value="wip">
          <ion-label>Activas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="done">
          <ion-label>Terminadas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">
        <ion-searchbar></ion-searchbar>
        <ion-text class="ion-margin-top ion-margin-bottom ion-padding-start ion-padding-end d-flex-row-between-centered">
          <h3><b>Febrero, 2020</b></h3> 
        </ion-text>

        <ion-card class="d-flex-row-start-centered ion-no-padding simple-card">
          <ion-card-content class="d-flex-row-between-centered w-100 ion-no-padding ion-padding-top ion-padding-bottom">
            <ion-avatar>
              <img src="./../assets/media/woman.jpg">
            </ion-avatar>
            <ion-card-title class="ion-text-center">
              <h2><b>0</b></h2>
              <h3>Experiencias</h3>
            </ion-card-title>
            <ion-card-title class="ion-text-center">
              <h2><b>$0.00</b></h2>
              <h3>Gasto aprox.</h3>
            </ion-card-title>
            <ion-card-title class="ion-text-center">
              <h2><ion-icon color="warning" name="star" slot="start"></ion-icon></h2>
              <h3>5</h3>
            </ion-card-title>
          </ion-card-content>
        </ion-card>

        <ion-item-group class="ion-no-padding ion-no-margin" *ngIf="showActiveFlg">


          <ion-item-group class="ion-no-padding ion-no-margin">
            
            <ion-grid class="ion-no-padding ion-margin-top">

              <ion-row *ngIf="userPosts.length > 0" class="ion-no-padding">
                <ion-col *ngFor="let post of userPosts" class="padding-grid-2col" (click)="onOpenPost(post._id)" size="6">
                  <ion-img *ngIf="post.postImages.length > 0" class="img-exp-grid-20" [src]="urlBind + post.postImages[0]"></ion-img>
                  <div *ngIf="post.postImages.length === 0" class="post-wo-image-holder">
                    <ion-text class="ion-text-center"> <h6>{{ post.post }}</h6></ion-text>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="userPosts.length === 0 ">
                <ion-col class="d-flex-col-center-centered" >
                  <ion-text class="ion-padding ion-margin-bottom ion-text-center" color="medium">Parece que no tienes ninguna experiencia activa. Puedes empezar aquí abajo 👇</ion-text>
                  <ion-button (click)="openModalPost()" shape="round"><b>Crea una publicación</b></ion-button>
                  <ion-button routerLink="/pages/tabs/feed" shape="round" fill="clear">Checa lo que se está publicando</ion-button>

                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-item-group>

        </ion-item-group>

        <ion-item-group class="ion-no-padding ion-no-margin" *ngIf="!showActiveFlg">

          <ion-item-group class="ion-no-padding ion-no-margin">
            
            <ion-grid class="ion-no-padding ion-margin-top">
              <ion-row>
                <ion-col (click)="onOpenPost('123')" size="6">
                  <ion-img src="../../assets/media/friendship.jpg"></ion-img>
                </ion-col>
                <ion-col (click)="onOpenPost('123')" size="6">
                  <ion-img src="../../assets/media/dj.jpg"></ion-img>
                </ion-col>
                <ion-col (click)="onOpenPost('123')" size="6">
                  <ion-img src="../../assets/media/cake.jpg"></ion-img>
                </ion-col>
                <ion-col (click)="onOpenPost('123')" size="6">
                  <ion-img src="../../assets/media/dog1.jpg"></ion-img>
                </ion-col>
                <ion-col (click)="onOpenPost('123')" size="6">
                  <ion-img src="../../assets/media/woman2.jpg"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-item-group>


        </ion-item-group>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
