<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ busProfileHeader }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onEditBusiness(busId)">
        Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

        <ion-card *ngIf="bus">
          <ion-card-header class="d-flex-col-center-centered w-100 ion-no-padding ion-padding-top ion-padding-end ion-padding-start">
              <img class="ph-avatar-lg ion-margin-top" src="./../assets/media/cake2.jpg">
              <ion-card-title class="ion-text-center ion-margin-top">
                <h6>
                  <b> {{ bus.busProfile }} <ion-icon *ngIf="bus.certification[0].isCertified" color="primary" size="small" name="shield-checkmark"></ion-icon></b>
                </h6>
                <h6> {{ bus.busName }} </h6>
              </ion-card-title>
          </ion-card-header>

          <ion-card-header>

            <ion-grid class="ion-margin-top ion-no-padding">
              <ion-row class="ion-margin-top ion-margin-bottom">
                <ion-col size="4">
                  <ion-card-title color="dark" class="ion-text-center">
                    <h6><b>0</b></h6>
                    <h6><ion-icon color="dark" name="flash-outline" slot="start"></ion-icon></h6>
                  </ion-card-title>
                </ion-col>
                <ion-col size="4">
                  <ion-card-title color="dark" class="ion-text-center">
                    <h6><b>$0.00</b></h6>
                    <h6><small>Ingresos</small></h6>
                  </ion-card-title>
                </ion-col>
                <ion-col size="4">
                  <ion-card-title color="dark" class="ion-text-center">
                    <h6><b>{{ bus.busRating }}</b></h6>
                    <h6><ion-icon color="warning" name="star" slot="start"></ion-icon></h6>
                  </ion-card-title>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-header>

          <!-- <ion-card-content class="ion-no-padding ion-padding-top ion ion-padding-end ion-padding-start">
            <ion-grid>
              <ion-row>
                <ion-col class="d-flex-row-center-centered" size="6">
                  <ion-chip color="medium">
                    <ion-icon color="dark" name="shield-checkmark-outline"></ion-icon>
                    <ion-label color="dark">Documentos</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col class="d-flex-row-center-centered" size="6">
                  <ion-chip color="medium">
                    <ion-icon color="dark" name="briefcase-outline"></ion-icon>
                    <ion-label color="dark">Negocio</ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="d-flex-row-center-centered" size="6">
                  <ion-chip color="medium">
                    <ion-icon color="dark" name="call-outline"></ion-icon>
                    <ion-label color="dark">Teléfono</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col class="d-flex-row-center-centered" size="6">
                  <ion-chip color="medium">
                    <ion-icon color="dark" name="navigate-outline"></ion-icon>
                    <ion-label color="dark">Ubicación</ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="d-flex-row-center-centered" size="6">
                  <ion-chip color="medium">
                    <ion-icon color="dark" name="bicycle-outline"></ion-icon>
                    <ion-label color="dark">A domicilio</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col class="d-flex-row-center-centered" size="6">
                  <ion-chip color="medium">
                    <ion-icon color="dark" name="timer-outline"></ion-icon>
                    <ion-label color="dark">Desde Ene 2019</ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content> -->

          <!-- <ion-card-content class="ion-no-padding ion-padding-top ion ion-padding-end ion-padding-start ion-margin-bottom">

            <ion-button expand="block" fill="clear" color="dark" size="small">
              <ion-icon name="add-outline" slot="start"></ion-icon>Ver más
            </ion-button>

          </ion-card-content> -->
          

        </ion-card>

        <form ngNativeValidate [formGroup]="itemsArrayForm" (ngSubmit)="onSaveItems()">

          <div *ngIf="addItemToArray" class="ion-no-margin ion-no-padding">

            <ion-text class="ion-margin-top ion-margin-bottom ion-padding-start ion-padding-end d-flex-row-between-centered">
              <h6><b>{{ busItemsForm['controls'].length }} Items</b></h6> 
            </ion-text>

            <div formArrayName="busItems" *ngFor="let busItem of busItemsForm['controls']; let i = index" class="ion-no-margin ion-no-padding">
              <div [formGroupName]="i" class="ion-no-margin ion-no-padding">

                <ion-item-group>
                  <ion-card class="ion-no-padding ion-padding-bottom">
                    <ion-card-header>
                      <ion-card-title class="d-flex-row-between-centered" color="dark">
                        <h6><b>Pastel de avellana</b></h6>
                        <h6><ion-icon name="flash-outline" color="dark"></ion-icon> 55</h6>
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-header class="ion-no-padding ion-padding-bottom">
                      <img src="./../assets/media/cake.jpg" alt="">
                    </ion-card-header>
                    <ion-item-group>
                      <ion-item lines="full">
                        <ion-label color="medium" position="floating">Descripción</ion-label>
                        <ion-input formControlName="itemTitle" name="itemTitle" ></ion-input>
                      </ion-item>
                      <ion-item lines="full">
                        <ion-label color="medium" position="floating">Detalles</ion-label>
                        <ion-textarea formControlName="itemDesc" name="itemDesc" ></ion-textarea>
                      </ion-item>
                      <ion-item lines="full">
                        <ion-label color="medium"><small>Tipo de transacción</small></ion-label>
                        <ion-select formControlName="txnType" name="txnType" >
                          <ion-select-option *ngFor="let tipoTxn of txnTypes; let i of index" [value]="tipoTxn">{{ tipoTxn }}</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item *ngIf="busItemsForm['controls'][i].tipoTxn === 'Renta' " lines="full">
                        <ion-label color="medium"><small>Periodo de renta</small></ion-label>
                        <ion-select formControlName="rentPeriod" name="rentPeriod" >
                          <ion-select-option *ngFor="let rentPeriod of rentPeriods; let i of index" [value]="rentPeriod">{{ rentPeriod }}</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item lines="full">
                        <ion-label color="medium" position="floating">Precio (MXN)</ion-label>
                        <ion-input  formControlName="price" name="price" ></ion-input>
                      </ion-item>
                      <ion-item lines="full">
                        <ion-label color="medium" position="floating">Palabras clave <ion-icon size="small" color="primary" name="help-circle"></ion-icon> </ion-label>
                        <ion-textarea formControlName="hshtgs" name="hshtgs" ></ion-textarea>
                      </ion-item>
                      <ion-button type="submit" class="ion-margin" color="primary" expand="block" shape="round">Guardar item</ion-button>
                    </ion-item-group>
                  </ion-card>
                </ion-item-group>

              </div>

            </div>

          </div>

          <div class="d-flex-col-center-centered ion-margin-top ion-margin-bottom ">
            <ion-button (click)='onAddBusItem()' shape="round" type="button" color="primary"><ion-icon name="add" slot="start"></ion-icon><b>Agregar item</b></ion-button>
          </div>

          <!-- <ion-item-group>
            <ion-card class="ion-no-padding ion-padding-bottom">
              <ion-card-header>
                <ion-card-title class="d-flex-row-between-centered" color="dark">
                  <h6><b>Pastel de avellana</b></h6>
                  <h6><ion-icon name="flash-outline" color="dark"></ion-icon> 55</h6>
                </ion-card-title>
              </ion-card-header>
              <ion-card-header class="ion-no-padding ion-padding-bottom">
                <img src="./../assets/media/cake.jpg" alt="">
              </ion-card-header>
              <ion-item-group>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Descripción</ion-label>
                  <ion-input value="something"></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Detalles</ion-label>
                  <ion-textarea value="something else" placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium"><small>Tipo de transacción</small></ion-label>
                  <ion-select>
                    <ion-select-option *ngFor="let tipoTxn of txnTypes; let i of index" [value]="tipoTxn">{{ tipoTxn }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Precio (MXN)</ion-label>
                  <ion-input value="$200.00" placeholder="Enter more information here..."></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Palabras clave <ion-icon size="small" color="primary" name="help-circle"></ion-icon> </ion-label>
                  <ion-textarea value="#comer #cumpleaños #postre #mamá #papá #gusguera" placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
              </ion-item-group>
            </ion-card>
          </ion-item-group>

          <ion-item-group>
            <ion-card class="ion-no-padding ion-padding-bottom">
              <ion-card-header>
                <ion-card-title class="d-flex-row-between-centered" color="dark">
                  <h6><b>Pastel de avellana</b></h6>
                  <h6><ion-icon name="flash-outline" color="dark"></ion-icon> 55</h6>
                </ion-card-title>
              </ion-card-header>
              <ion-card-header class="ion-no-padding ion-padding-bottom">
                <img src="./../assets/media/cake.jpg" alt="">
              </ion-card-header>
              <ion-item-group>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Descripción</ion-label>
                  <ion-input value="something"></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Detalles</ion-label>
                  <ion-textarea value="something else" placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium"><small>Tipo de transacción</small></ion-label>
                  <ion-select>
                    <ion-select-option *ngFor="let tipoTxn of txnTypes; let i of index" [value]="tipoTxn">{{ tipoTxn }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Precio (MXN)</ion-label>
                  <ion-input value="$200.00" placeholder="Enter more information here..."></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Palabras clave <ion-icon size="small" color="primary" name="help-circle"></ion-icon> </ion-label>
                  <ion-textarea value="#comer #cumpleaños #postre #mamá #papá #gusguera" placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
              </ion-item-group>
            </ion-card>
          </ion-item-group>

          <ion-item-group>
            <ion-card class="ion-no-padding ion-padding-bottom">
              <ion-card-header>
                <ion-card-title class="d-flex-row-between-centered" color="dark">
                  <h6><b>Pastel de queso</b></h6>
                  <h6><ion-icon name="flash-outline" color="dark"></ion-icon> 45</h6>
                </ion-card-title>
              </ion-card-header>
              <ion-card-header class="ion-no-padding ion-padding-bottom">
                <img src="./../assets/media/cake2.jpg" alt="">
              </ion-card-header>
              <ion-item-group>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Descripción</ion-label>
                  <ion-input value="something"></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Detalles</ion-label>
                  <ion-textarea value="something else" placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium"><small>Tipo de transacción</small></ion-label>
                  <ion-select>
                    <ion-select-option *ngFor="let tipoTxn of txnTypes; let i of index" [value]="tipoTxn">{{ tipoTxn }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Precio (MXN)</ion-label>
                  <ion-input value="$200.00" placeholder="Enter more information here..."></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <ion-label color="medium" position="floating">Palabras clave <ion-icon size="small" color="primary" name="help-circle"></ion-icon> </ion-label>
                  <ion-textarea value="#comer #cumpleaños #postre #mamá #papá #gusguera" placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
              </ion-item-group>
            </ion-card>
          </ion-item-group> -->

        </form>



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
