<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button color="dark"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Tengo dos amigos que cumplen años, uno el viernes y el otro es el pròximo sabado. Quiero organizar uan fiesta en una bodega, con globos y DJ, 
      también unas estripers, escorts o como se les conozca... urge por favor!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

        <!-- <ion-card class="ion-margin-bottom">
          <!-- <ion-item lines="full">
            <ion-card-subtitle>Hace 2 horas</ion-card-subtitle>
            <!-- <ion-chip slot="end" color="success"><b>$543.50</b></ion-chip>
          </ion-item> 
          <ion-item lines="none" class="ion-margin-top">
            <ion-thumbnail slot="start">
              <img src="../../assets/media/woman2.jpg">
            </ion-thumbnail>
            <ion-label>
              <b>Laura Perez</b>
              <h3>Hace 2 horas</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-text class="ion-no-padding ion-padding-top ion-padding-bottom">
                Tengo dos amigos que cumplen años, uno el viernes y el otro es el pròximo sabado. Quiero organizar uan fiesta en una bodega, con globos y DJ, 
                también unas estripers, escorts o como se les conozca... urge por favor!
            </ion-text>
          </ion-item>
        </ion-card> -->

        <ion-list class="ion-margin-top">    

          <ion-item-group>

            <ion-item-divider>
              <ion-label>
                Colaborador
              </ion-label>
            </ion-item-divider>
  
            <ion-item>
              <ion-avatar slot="start">
                <img src="../../assets/media/laura.jpg">
              </ion-avatar>
              <ion-label>
                <b>estetiKMX</b>
                <h3>Estética México</h3>
              </ion-label>
              <ion-chip color="danger">
                Reportar
              </ion-chip>
            </ion-item>

          </ion-item-group>
          
          <ion-item-group>

            <ion-item-divider>
              <ion-label>
                Oferta y logística
              </ion-label>
            </ion-item-divider>

            <ion-item lines="none">
              <ion-thumbnail class="ion-margin-top" slot="start">
                <img src="../../assets/media/hairdresser.jpg">
              </ion-thumbnail>
              <ion-label>
                <b>Corte de cabello Mujer</b>
                <div class="d-flex-row-start-centered">
                  <ion-text color="dark"><h3>A 5km</h3></ion-text>
                  <ion-text color="dark"><h3><ion-icon class="ion-margin-start" color="medium" name="flash-outline" slot="start"></ion-icon> 35</h3></ion-text>
                </div>
              </ion-label>
              <!-- <ion-chip color="dark">
                <b>$90.00</b>
              </ion-chip> -->
            </ion-item>
            <ion-item>
              <ion-text class="ion-no-padding ion-padding-top ion-padding-bottom">
                Ven, te esperamos con todo preparado y te damos tmbn un masaje de cabello pa que te vayas bien relajado
              </ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-right">
                Subtotal: <b>$90.00 </b>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-right">
                Descuento: <b>%10.00 </b>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-right" color="success">
                Total: <b>$82.00 </b>
              </ion-label>
            </ion-item>
            
            <ion-item>
              <ion-icon name="calendar-outline" size="small" slot="start"></ion-icon>
              <ion-label>Jueves, 13 Marzo 2020 14:23</ion-label>
              <!-- <ion-label class="ph-margin-right-0">Lo antes posible</ion-label> -->
              <!-- <ion-datetime type="datetime-local" displayFormat="MMM DD, YYYY HH:mm" class="ion-no-padding" placeholder="Hoy"></ion-datetime> -->
            </ion-item>
            <ion-item>
              <ion-icon name="navigate-outline" size="small" slot="start"></ion-icon>
              <ion-label>Arquimides 172 int 201</ion-label>
              <!-- <ion-label class="ph-margin-right-0">Ir al mapa</ion-label> -->
            </ion-item>

          </ion-item-group>

          <ion-item-group>
  
            <ion-item-divider>
              <ion-label>
                Controles
              </ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-label>Exp iniciada 13 marzo 14:55</ion-label>
              <ion-toggle [(ngModel)]="startExpFlag" slot="start" checked disabled="true" checked color="primary"></ion-toggle>
            </ion-item>
  
            <ion-item>
              <ion-label>Aceptar oferta</ion-label>
              <ion-toggle [disabled]="acceptOfferCtrl.value === true" [(ngModel)]="acceptOfferFlag" #acceptOfferCtrl="ngModel" (ionChange)="confirmAcceptOffer(acceptOfferCtrl)" slot="start"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>Terminar experiencia</ion-label>
              <ion-toggle [(ngModel)]="endExpFlag" slot="start"></ion-toggle>
            </ion-item>
            

          </ion-item-group>

          <ion-item-group>

            <ion-item-divider>
              <ion-label>
                Miembros
              </ion-label>
            </ion-item-divider>
  
            <ion-item>
              <ion-avatar slot="start">
                <img src="../../assets/media/bar.jpg">
              </ion-avatar>
              <ion-label>
                <h3><b>alandiaza</b></h3>
                <h3>Alan Díaz</h3>
              </ion-label>
              <ion-chip>
                <ion-label color="dark">Eliminar</ion-label>
              </ion-chip>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="../../assets/media/friendship.jpg">
              </ion-avatar>
              <ion-label>
                <h3><b>juancarlosd</b></h3>
                <h3>Juan Carlos Díaz</h3>
              </ion-label>
              <ion-chip>
                <ion-label color="dark">Eliminar</ion-label>
              </ion-chip>
            </ion-item>
            <ion-button expand="block" shape="round" type="button" fill="clear" color="primary" class="ion-margin-top ion-margin-bottom"><ion-icon name="add" slot="start"></ion-icon>Agregar al chat</ion-button>

          </ion-item-group>


          <ion-item color="danger">
            <ion-label>Cancelar experiencia</ion-label>
            <ion-toggle slot="start"></ion-toggle>
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

