<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark"></ion-back-button>
      <!-- <ion-button routerLink="/pages/tabs/experiences/123" color="primary">
        <ion-icon color="dark" name="chevron-back-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>
      Quiero pintar mi depa
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateInfo('123')" color="primary">
        <ion-icon color="dark" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">
        <ion-list>
          <ion-item-group>

            <ion-item-divider>
                Colaborador
            </ion-item-divider>
  
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="../../assets/media/painter8.jpg">
              </ion-thumbnail>
              <ion-label>
                <b>Jorge Rodríguez <ion-icon color="primary" name="shield-checkmark"></ion-icon></b>
                <ion-text color="dark"><h3>Oficio</h3></ion-text>
                <div class="d-flex-row-start-centered">
                  <ion-text color="dark"><h3>A 5km</h3></ion-text>
                  <ion-text color="dark"><h3><ion-icon class="ion-margin-start" color="medium" name="flash" slot="start"></ion-icon> 75</h3></ion-text>
                  <ion-text color="dark"><h3><ion-icon class="ion-margin-start" color="warning" name="star" slot="start"></ion-icon> 4.98</h3></ion-text>
                </div>
              </ion-label>
              <!-- <ion-chip color="danger">
                Reportar
              </ion-chip> -->
            </ion-item>

          </ion-item-group>
          
          <ion-item-group>
            <ion-item role="button" (click)="navigateInfo('123')">
              <ion-icon name="open-outline" size="small" slot="start"></ion-icon>
              <ion-label>Ver oferta</ion-label> 
            </ion-item>
            <ion-item>
              <ion-icon name="calendar-outline" size="small" slot="start"></ion-icon>
              <!-- <ion-label class="ph-margin-right-0">Lo antes posible</ion-label> -->
              <ion-datetime type="datetime-local" displayFormat="MMM DD, YYYY HH:mm" class="ion-no-padding" placeholder="Lo antes posible"></ion-datetime>
            </ion-item>
            <app-location-picker></app-location-picker>
            <ion-item>
              <ion-label>Iniciar experiencia</ion-label>
              <ion-toggle slot="start" color="primary"></ion-toggle>
            </ion-item>
          </ion-item-group>

        </ion-list>

        <ion-grid class="ion-margin-top">
          <ion-row *ngFor="let message of messages">
            <ion-col size="9" *ngIf="currentUser !== message.user" class="d-flex-row-start-start">
              <img class="img-avatar-xs" src="../../assets/media/painter8.jpg">
              <div class="msg-chat other-msg-chat w-100 ion-margin-start">
                <p><b>{{ message.user }}</b></p>
                <p>{{ message.msg }}</p>
                <div class="msg-chat-time other-msg-time ">
                    {{ message.createdAt | date: 'short' }}
                </div>
                <!-- <ion-img class="img-feed-post" src="{{ message.photoMsg }}"></ion-img> -->
              </div>
            </ion-col>
            <ion-col offset="3" size="9" *ngIf="currentUser === message.user" class="ion-text-end" class="msg-chat my-msg-chat">
              <p><b>{{ message.user }}</b></p>
              <p>{{ message.msg }}</p>
              <div class="msg-chat-time my-msg-time">
                  {{ message.createdAt | date: 'short' }}
                  <ion-icon slot="end" color="primary" name="mail-open-outline"></ion-icon>
              </div>
              <!-- <ion-img class="img-feed-post" src="{{ message.photoMsg }}"></ion-img> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
     </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-xl="4" offset-xl="4">

          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <textarea placeholder="Escribe un mensaje" autosize maxRows="3" [(ngModel)]="newMsg" class="msg-chat-input w-100"></textarea>
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="onTakePhoto()" expand="block" fill="clear" color="primary" *ngIf="newMsg === '' " class="msg-chat-btn">
                    <ion-icon name="camera"></ion-icon>
                </ion-button>
                <ion-button (click)="sendMessage()" expand="block" fill="clear" color="primary" *ngIf="newMsg !== '' " class="msg-chat-btn">
                  <ion-icon name="send"></ion-icon>
              </ion-button>  
              </ion-col>
            </ion-row>
            </ion-grid>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>
