/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500,600,700|Open+Sans:300,400,500,700&display=swap');
$ff-brand: 'Quicksand', sans-serif;
$ff-primary: 'Open Sans', sans-serif;

* {
    font-family: $ff-primary;
}

ion-icon {
    --ionicon-stroke-width: 24px;
  }

p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

.chip-transparent {
    background: transparent;
}

.border-radius-0 {
    border-radius: 0px;
}

.ph-img-thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
}

.img-user-footer {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: top;
    margin-top: 10px;
    border-radius: 100%;
}


.font-brand-xlg {
    font-family: $ff-brand;
    letter-spacing: -1px;
    font-size: 2.6rem;
}

.font-brand-big {
    font-family: $ff-brand;
    letter-spacing: -1px;
    font-size: 2rem;
}

.font-brand-md {
    font-family: $ff-brand;
    letter-spacing: -1px;
    font-size: 1.5rem;
}

.font-brand-normal {
    font-family: $ff-brand;
    letter-spacing: -1px;
    font-size: 1.3rem;
}

.rotated-15 {
    transform: rotate(-15deg);
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.d-flex-col-justifiy-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    //?? què estoy haciendo aquí? buscar clase en toda la app..
}

.d-flex-col-start-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex-col-center-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex-col-between-centered {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.d-flex-row-center-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d-flex-row-between-centered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.d-flex-row-around-centered {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.d-flex-row-start-centered {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.d-flex-row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.d-block {
    display: block;
}

.d-flex-row-start-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-avatar-xs {
    width: 30px!important;
    height: 30px!important;
    object-fit: cover!important;
    object-position: center!important;
    border-radius: 100%!important;
}

.ph-avatar-sm {
    height: 32px!important;
    width: 32px!important;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.ph-avatar-md {
    height: 50px!important;
    width: 50px!important;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.ph-avatar-lg {
    height: 60px!important;
    width: 60px!important;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.ph-avatar-xlg {
    height: 70px!important;
    width: 70px!important;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.phestee-icon-md {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    // background-image: url(../src/assets/phesteeGrad110px.svg);
    background-image: url(../src/assets/phesteeLogoGradCircle110.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.phestee-icon-hdr {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // background-image: url(../src/assets/phesteeGrad30px.svg);
    background-image: url(../src/assets/phesteeLogoGradCircle30.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.hdr-margin-right-back-btn{
    margin-right: 50.59px;
}

.ph-margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.ph-margin-y-1{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.ph-margin-y-2 {
    margin-top: 2rem;
    margin-bottom:2rem;
}

.ph-margin-top-1 {
    margin-top: 1.5rem;
}

.ph-margin-top-2 {
    margin-top: 2rem;
}

.ph-margin-top-3 {
    margin-top: 3rem;
}

.ph-margin-bottom-1 {
    margin-bottom: 1.5rem;
}

.ph-margin-bottom-2 {
    margin-bottom: 2rem;
}

.ph-margin-bottom-3 {
    margin-bottom: 3rem;
}

.ph-padding-top-1 {
    padding-top: 1.5rem;
}

.ph-margin-right-0 {
    margin-right: 0;
    margin-left: auto;
}

.bg-transparent {
    background: transparent;
} 

.bg-primary {
    background: var(--ion-color-primary);
} 

.bg-light {
    background: var(--ion-color-light);
} 

.bg-dark {
    background: var(--ion-color-dark);
} 

.bg-light {
    background: var(--ion-color-light);
} 

.bg-medium {
    background: var(--ion-color-medium);
} 

.no-border {
    border: none;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ph-border-top {
    border-top: 1.75px solid var(--ion-color-light);
}

.ph-border-bottom {
    border-bottom: 1.75px solid var(--ion-color-light);
}

.border-left-active {
    border-left: 2px solid var(--ion-color-primary);
}

.border-left-danger {
    border-left: 2px solid var(--ion-color-danger);
}

.border-left-done {
    border-left: 2px solid var(--ion-color-medium);
}

.border-left-success {
    border-left: 2px solid var(--ion-color-success);
}

.ph-border-top {
    border-top: 1.25px solid var(--ion-color-light);
}

.text-medium {
    color: var(--ion-color-medium);
}

.text-danger {
    color: var(--ion-color-danger);
}

.text-success {
    color: var(--ion-color-success);
}

.text-warning {
    color: var(--ion-color-warning);
}

.text-primary {
    color: var(--ion-color-primary);
}

.text-left {
    text-align: left;
}

.img-feed-post {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img-feed-exp {
    height: 25vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img-exp-grid-20 {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.post-wo-image-holder {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
    // background: #FFFFFF;
    // color: #000000;
    border: .5px solid var(--ion-color-light-shade);
}

.img-exp-grid-10 {
    height: 10vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img-block-exp {
    height: 15vh !important;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img-slider-thumbnail {
    height: 25vh !important;
    width: 100% !important;
    object-fit: cover;
    object-position: top;
}

.slide-card-member {
    width: auto;
    height: 90px;
}

.btn-no-padding {
    padding: 0px;
}

.text-underlined {
    text-decoration: underline;
}

.text-truncated {
    // max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

.text-truncated-box {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .text-truncated-one-line {
    max-width: 98%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

 .text-truncated-buttons {
    max-width: 30vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
 }

 .simple-card {
    background: transparent;
    box-shadow: none;
    border: none;
 }

 .simple-card .img-simple-card {
     width: 100%;
     height: 20vh;
     object-fit: cover;
     object-position: top;
 }

 .post-photo-carroussel {
     position: relative;
     height: 45vh;
     .remove-photo-btn {
        position: absolute;
        top: 10px;
        right: 10px;
     }
     .img-carroussel {
        height: 90%;
        width: 100%;
        object-fit: cover;
        object-position: top;
     }
 }

 .post-photo-carroussel-exp {
     position: relative;
     height: 32vh;

     .img-carroussel-exp {
        height: 87%;
        width: 100%;
        object-fit: cover;
        object-position: center;
     }
 }

 .msg-chat {
    padding: 10px;
    margin-bottom: 8px;
    white-space: pre-wrap;
 }

 .other-msg-chat {
    border-radius: 0px 20px 20px 20px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-light-contrast);

 }

 .my-msg-chat {
    border-radius: 20px 0px 20px 20px;
    background-color: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);

 }

 .padding-grid-3col {
     padding:0px 3px 3px 3px;
 }

 .padding-grid-2col {
     padding:0px 2px 2px 2px;
 }

 .msg-chat-time {
    float: right;
    font-size: small;
 }

 .other-msg-time {
    color: var(--ion-color-medium);
 }

 .my-msg-time {
    color: var(--ion-color-medium);
 }

 .msg-chat-input {
    border: 1px solid var(--ion-color-light);
    border-radius: 10px;
    background-color: transparent;
    color: var(--ion-color-dark);
    resize: none;
    padding-top: 10px;
    padding-left: 20x;
    padding-right: 20px;
    box-shadow: none;
    outline: none;
 }

 .msg-chat-btn {
     --padding-start: 0.5em;
     --padding-end: 0.5em;

 }

 @media (min-width: 768px) {
    .simple-card .img-simple-card {
        height: 45vh;
    }
 }

 input[type='file'] {
     display: none;
 }
 