/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500,600,700|Open+Sans:300,400,500,700&display=swap');
$ff-brand: 'Quicksand', sans-serif;
$ff-primary: 'Open Sans', sans-serif;

* {
    font-family: $ff-primary;
}

ion-icon {
    --ionicon-stroke-width: 24px;
  }

p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

.chip-transparent {
    background: transparent;
}

.ph-img-thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.img-user-footer {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
    border-radius: 100%;
}

.img-avatar-chat {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

.font-brand-big {
    font-family: $ff-brand;
    letter-spacing: -1px;
    font-size: 2rem;
}

.font-brand-normal {
    font-family: $ff-brand;
    letter-spacing: -1px;
    font-size: 1.3rem;
}

.rotated-15 {
    transform: rotate(-15deg);
}

.w-100 {
    width: 100%;
}

.d-flex-col-justifiy-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    //?? què estoy haciendo aquí? buscar clase en toda la app..
}

.d-flex-col-start-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex-col-center-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex-col-between-centered {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.d-flex-row-center-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d-flex-row-between-centered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.d-flex-row-start-centered {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.d-flex-row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.d-block {
    display: block;
}

.d-flex-row-start-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.ph-avatar-post {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.phestee-icon-md {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    // background-image: url(../src/assets/phesteeGrad110px.svg);
    background-image: url(../src/assets/phesteeLogoGradCircle110.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.phestee-icon-hdr {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // background-image: url(../src/assets/phesteeGrad30px.svg);
    background-image: url(../src/assets/phesteeLogoGradCircle30.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.hdr-margin-right-back-btn{
    margin-right: 50.59px;
}

.ph-margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.ph-margin-y-1{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.ph-margin-y-2 {
    margin-top: 2rem;
    margin-bottom:2rem;
}

.ph-margin-top-1 {
    margin-top: 1.5rem;
}

.ph-margin-top-2 {
    margin-top: 2rem;
}

.ph-margin-top-3 {
    margin-top: 3rem;
}

.ph-margin-bottom-1 {
    margin-bottom: 1.5rem;
}

.ph-margin-bottom-2 {
    margin-bottom: 2rem;
}

.ph-margin-bottom-3 {
    margin-bottom: 3rem;
}

.ph-padding-top-1 {
    padding-top: 1.5rem;
}

.ph-margin-right-0 {
    margin-right: 0;
    margin-left: auto;
}

.bg-transparent {
    background: transparent;
} 

.no-border {
    border: none;
}

.ph-border-bottom {
    border-bottom: 1.75px solid var(--ion-color-light);
}

.border-left-active {
    border-left: 2px solid var(--ion-color-primary);
}

.border-left-danger {
    border-left: 2px solid var(--ion-color-danger);
}

.border-left-done {
    border-left: 2px solid var(--ion-color-medium);
}

.border-left-success {
    border-left: 2px solid var(--ion-color-success);
}

.ph-border-top {
    border-top: 1.25px solid var(--ion-color-light);
}

.text-medium {
    color: var(--ion-color-medium);
}

.img-feed-post {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-feed-exp {
    height: 25vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-slider-thumbnail {
    height: 18vh !important;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
}

.slide-card-member {
    width: auto;
    height: 90px;
}

.btn-no-padding {
    padding: 0px;
}

.text-truncated {
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

 .text-truncated-one-line {
    max-width: 98%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

 .text-truncated-buttons {
    max-width: 30vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
 }

 .simple-card {
    background: transparent;
    box-shadow: none;
    border: none;
 }

 .simple-card .img-simple-card {
     width: 100%;
     height: 20vh;
     object-fit: cover;
     object-position: center;
 }

 .post-photo-carroussel {
     position: relative;
     .remove-photo-btn {
         position: absolute;
         top: 10px;
         right: 10px;
     }
 }

 .msg-chat {
    padding: 10px;
    margin-bottom: 8px;
    white-space: pre-wrap;
 }

 .other-msg-chat {
    border-radius: 0px 20px 20px 20px;
    background-color: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);

 }

 .my-msg-chat {
    border-radius: 20px 0px 20px 20px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-light-contrast);

 }

 .msg-chat-time {
    float: right;
    font-size: small;
 }

 .other-msg-time {
    color: var(--ion-color-light);
 }

 .my-msg-time {
    color: var(--ion-color-medium);
 }

 .msg-chat-input {
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background-color: transparent;
    color: var(--ion-color-dark);
    resize: none;
    padding-left: 20x;
    padding-right: 20px;
    box-shadow: none;
    outline: none;
 }

 .msg-chat-btn {
     --padding-start: 0.5em;
     --padding-end: 0.5em;

 }

 @media (min-width: 768px) {
    .simple-card .img-simple-card {
        height: 45vh;
    }
 }
 