
.height-sm{
  height: 85vh;
}

.height-md{
  height:60vh;
}

.height-lg{
  height: 75vh;

}

// .grid-xl {
//   --ion-grid-columns:14;
// }

.home-footer {
  height: 15vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-margin-top {
  margin-top: 1.75rem;
  h5, h6, h4 {
    padding: 0px;
    margin: 0px;
  }
}

// ion-card, ion-item, ion-label{
//   background-color: transparent;
// }

ion-card-header{
  padding: 1rem;
}

img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  object-position: top;
}

.post-img-demo {
  height: 25vh;
  object-fit: cover;
  object-position: top;
} 

.post-img-demo-lg {
  height: 30vh;
  object-fit: cover;
  object-position: center;
} 

.post-reactions-img {
  height: 20vh;
  object-fit: cover;
  object-position: top;

}
.post-reactions-img-lg {
  height: 15vh;
  object-fit: cover;
  object-position: center;

}

.flex-between-demo {
  display: flex;
  justify-content: space-between;
}

.flex-start-demo {
  display: flex;
  justify-content: flex-start;
}

.home-reactions-card, .home-experience-card, .exp-activity {
  // padding: 1rem;
  border-bottom: 1.75px solid var(--ion-color-light);
}

.home-reactions-card img, .home-experience-card img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

ion-card-content {
  padding-top: .75rem;
}

.home-experience-card .post-exp-img {
  border-radius: 5px;
}

ion-button {
  display: block;
  width: 90%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.margin-top {
  margin-top: 2rem;
}

.icon-home-page {
  font-size: 40px;
}

