<ion-header class="ion-hide-sm-down">
  <ion-grid class="ion-no-padding grid-xl">
    <ion-row>
      <ion-col size-sm="12" offset-xl="1" size-xl="12" >
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button role="button" expand="block" routerLink="/signin" shape="round" color="primary" fill="clear">Regístrate</ion-button>
            <ion-button role="button" expand="block" routerLink="/login" shape="round" color="primary" fill="solid"> <ion-icon name="log-in-outline" slot="start"></ion-icon> Entrar</ion-button>
          </ion-buttons>
          <ion-title class="font-brand-normal">
              phestee
          </ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">

    <!-- Inicia vista menor a MD -->

  <ion-slides class="ion-hide-sm-up" pager="true">

    <ion-slide class="height-sm">
      <ion-grid>
        <ion-row>
          <ion-col class="d-flex-col-center-centered" size-md="8" offset-md="2" size-lg="4" offset-lg="4" size-xl="2" offset-xl="5">
            <div class="phestee-icon-md"></div>
            <h1 class="font-brand-big ion-margin-top">phestee</h1>
            <h5>Todo lo que necesitas está aquí, sin búsquedas complicadas y sin publicidad.</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="height-sm">
      <ion-grid>
        <ion-row>
          <ion-col class="d-flex-col-center-centered" size-md="8" offset-md="2" size-xl="4" offset-xl="4">
            <h1><ion-icon class="icon-home-page" color="primary" name="chatbubble-ellipses"></ion-icon></h1>
            <h2 class="ion-margin-top font-brand-normal">Pública lo que quieras</h2>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
              <img class="post-img-demo"  src="../../assets/media/friendship.jpg" />
              <ion-card-header class="ion-text-start ion-no-margin ion-no-padding">
                <ion-card-title>
                  <h5>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="height-sm">
      <ion-grid>
        <ion-row>
          <ion-col class="d-flex-col-center-centered" size-md="8" offset-md="2" size-xl="4" offset-xl="4">
            <h1><ion-icon class="rotated-15 icon-home-page" color="primary" name="hand-left"></ion-icon></h1>
            <h2 class="ion-margin-top font-brand-normal">Checa las reacciones</h2>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
              <img class="post-reactions-img"  src="../../assets/media/friendship.jpg" />
              <ion-card-header class="ion-text-start ion-no-margin ion-no-padding ph-border-bottom">
                <ion-card-title>
                  <h5>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-card-header class="home-reactions-card flex-start-demo border-left-active">
                <img src="../../assets/media/bar.jpg">
                <ion-card-title class="ion-text-start ion-no-margin ion-no-padding ion-padding-start">
                  <h5><small><b>Bar MX</b></small></h5>
                  <h5><small>Celebra con nosotros. ¡La primera ronda va por nuestra cuenta! 🍸🍹</small></h5>
                </ion-card-title>
              </ion-card-header>
              <ion-card-header class="home-reactions-card flex-start-demo border-left-active">
                <img src="../../assets/media/cake.jpg">
                <ion-card-title class="ion-text-start ion-no-margin ion-no-padding ion-padding-start">
                  <h5><small><b>Pastelería Tapatía</b></small></h5>
                  <h5><small>Nosotros te mandamos el pastel y las velas. 🎂 </small></h5>
                </ion-card-title>
              </ion-card-header>
              <ion-card-header class="home-reactions-card flex-start-demo border-left-active ion-hide-md-down">
                <img src="../../assets/media/party.jpg">
                <ion-card-title class="ion-text-start ion-no-margin ion-no-padding ion-padding-start">
                  <h5><small><b>Kattering</b></small></h5>
                  <h5><small>¡Hola! Te organizamos tu fiesta temática 🎊. ¡Checa nuestro tablero! </small></h5>
                </ion-card-title>
              </ion-card-header>
              <!-- <ion-card-header class="ion-padding-top ion-padding-bottom">
                <ion-label class="ion-text-center">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </ion-label>
              </ion-card-header> -->
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="height-sm">
      <ion-grid>
        <ion-row>
          <ion-col class="d-flex-col-center-centered" size-md="8" offset-md="2" size-lg="4" offset-lg="4" size-xl="2" offset-xl="5">
            <h1><ion-icon class="icon-home-page" color="primary" name="flash"></ion-icon></h1>
            <h2 class="ion-margin-top font-brand-normal">Comparte experiencias</h2>
            <ion-card class="ion-no-margin ion-margin-start ion-margin-end border-left-active">
              <ion-card-header class="home-experience-card flex-start-demo">
                <!-- <div class="bg-exp-photo"></div> -->
                <img class="post-exp-img" src="../../assets/media/friendship.jpg">
                <ion-card-title class="ion-text-start ion-no-margin ion-no-padding ion-padding-start">
                  <h5>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="home-experience-card flex-between-demo">
                <ion-card-title>
                  <h2><b>25</b></h2>
                  <h3>Miembros</h3>
                </ion-card-title>
                <ion-card-title>
                  <h2><b>5</b></h2>
                  <h3>Colaboradores</h3>
                </ion-card-title>
                <ion-card-title>
                  <h2><b>$1,2K</b></h2>
                  <h3>Estimado</h3>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-start ion-margin-end ion-card-no-margin border-left-done">
              <ion-card-header class="home-experience-card flex-start-demo">
                <!-- <div class="bg-exp-photo"></div> -->
                <img class="post-exp-img" src="../../assets/media/dog1.jpg">
                <ion-card-title class="ion-text-start ion-no-margin ion-no-padding ion-padding-start">
                  <h5>¿Alguien que cuide a mi perro durante una semana? 🐶</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="home-experience-card flex-between-demo">
                <ion-card-title>
                  <h2><b>2</b></h2>
                  <h3>Miembros</h3>
                </ion-card-title>
                <ion-card-title>
                  <h2><b>1</b></h2>
                  <h3>Colaboradores</h3>
                </ion-card-title>
                <ion-card-title>
                  <h2><b>$550</b></h2>
                  <h3>Pagado</h3>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-no-margin ion-margin-start ion-margin-end ion-card-no-margin border-left-done ion-hide-md-down">
              <ion-card-header class="home-experience-card flex-start-demo">
                <!-- <div class="bg-exp-photo"></div> -->
                <img class="post-exp-img" src="../../assets/media/stress.jpg">
                <ion-card-title class="ion-text-start ion-no-margin ion-no-padding ion-padding-start">
                  <h5>Me urge un masaje... ha sido una semana muy difícil</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="home-experience-card flex-between-demo">
                <ion-card-title>
                  <h2><b>1</b></h2>
                  <h3>Miembros</h3>
                </ion-card-title>
                <ion-card-title>
                  <h2><b>1</b></h2>
                  <h3>Colaborador</h3>
                </ion-card-title>
                <ion-card-title>
                  <h2><b>$390</b></h2>
                  <h3>Total</h3>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
            <!-- <ion-card-content class="ion-margin-top">
              <ion-card-title color="medium"><p>Agrega miembros para que participen de tu experiencia. Los colaboradores son los que levantan la mano para ayudarte. </p></ion-card-title>
            </ion-card-content> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="height-sm">
      <ion-grid>
        <ion-row>
          <ion-col class="d-flex-col-center-centered" size-md="8" offset-md="2" size-lg="4" offset-lg="4" size-xl="2" offset-xl="5">
            <div class="phestee-icon-md"></div>
            <h1 class="font-brand-big ion-margin-top">Deja de buscar y déjate encontrar</h1>
            <!-- <ion-button routerLink="/login" shape="round" type="button" color="primary" class="top-button ion-margin-top"><ion-icon name="log-in" slot="start"></ion-icon> Entrar</ion-button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>

  <!-- Inicia vista mayor MD -->

  <ion-grid class="ion-hide-sm-down grid-xl">
    <ion-row>
      <ion-col class="height-lg d-flex-col-center-centered" size-sm="12" offset-xl="1" size-xl="12" >
          <div class="phestee-icon-md"></div>
          <h1 class="font-brand-xlg margin-top">Todo lo que necesitas está aquí.</h1>
          <h4 class="ion-margin-top">
            El mundo está cambiando y la forma en la que interactuamos también,
          </h4>
          <h4>
            por eso creamos la app para colaborar sanamente entre negocios y comunidad.
          </h4>
          <h5 class="text-primary ion-margin-top">
            <a href="https://www.instagram.com/phestee.app/" target="_blank">#manitaarriba</a>
          </h5>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="height-md" size-sm="12" offset-xl="1" size-xl="12" >
        <h6 class="font-brand-md ion-text-center">
          <ion-icon size="small" color="primary" name="chatbubble-ellipses"></ion-icon>
          Crea una publicación... o las que tú quieras
        </h6>
        <ion-slides class="ion-margin-top" [options]="slidesOptsForLg">

          <ion-slide>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
              <img class="post-img-demo-lg"  src="../../assets/media/laura2.jpg" />
              <ion-card-header class="ion-text-center ion-no-margin ion-no-padding">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
              <img class="post-img-demo-lg"  src="../../assets/media/apartment.jpg" />
              <ion-card-header class="ion-text-center ion-no-margin ion-no-padding">
                <ion-card-title>
                  <h5>Mi depa es un caos 😫</h5>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
              <img class="post-img-demo-lg"  src="../../assets/media/couple.jpg" />
              <ion-card-header class="ion-text-center ion-no-margin ion-no-padding">
                <ion-card-title>
                  <h5>Nos casamos el próximo año 💍</h5>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
              <img class="post-img-demo-lg"  src="../../assets/media/laura2.jpg" />
              <ion-card-header class="ion-text-center ion-no-margin ion-no-padding">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
              <img class="post-img-demo-lg"  src="../../assets/media/apartment.jpg" />
              <ion-card-header class="ion-text-center ion-no-margin ion-no-padding">
                <ion-card-title>
                  <h5>Mi depa es un caos 😫</h5>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <div class="slide-width-30">
              <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
                <img class="post-img-demo-lg"  src="../../assets/media/couple.jpg" />
                <ion-card-header class="ion-text-center ion-no-margin ion-no-padding">
                  <ion-card-title>
                    <h5>Nos casamos el próximo año 💍</h5>
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>

        </ion-slides>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col class="height-md" size-sm="12" offset-xl="1" size-xl="12" >
        <h6 class="font-brand-md ion-text-center">
          <ion-icon size="small" class="rotated-15" color="primary" name="hand-left"></ion-icon>
          Checa las reacciones
        </h6>
        <ion-slides class="ion-margin-top" [options]="slidesOptsForLg">

          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="7">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="7">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="7">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="7">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="7">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="7">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>


        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="height-md" size-sm="12" offset-xl="1" size-xl="12" >
        <h6 class="font-brand-md ion-text-center">
          <ion-icon size="small" class="rotated-15" color="primary" name="flash"></ion-icon>
          Inicia una experiencia
        </h6>
        <ion-slides class="ion-margin-top" [options]="slidesOptsForLg">

          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header class="ion-text-center ion-padding-top">
                <ion-card-title>
                  <h5 class>¡Laura cumple años el siguiente fin! 🎉</h5>
                </ion-card-title>
              </ion-card-header>
              <ion-grid class="ion-padding-bottom">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                  <ion-col size="4">
                    <img class="post-reactions-img-lg" src="../../assets/media/flowers.jpg" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>


        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>




  
</ion-content>

<!--footer menor a MD-->
<ion-footer class="ion-no-border ion-hide-md-up" fixed>

  <ion-grid class="ion-hide-md-up" fixed>
    <ion-row class="ion-align-items-center">
      <ion-col class="home-footer" size-lg="10" offset-lg="1">
        <ion-button routerLink="/login" shape="round" type="button" color="primary"><ion-icon name="log-in" slot="start"></ion-icon> Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
